.git
.github
.artifacts
.secrets
**/.secrets
**/google-services.json
.turbo
.telemetry
node_modules
**/node_modules
**/.next
**/dist
**/.env
**/.env.*
!**/.env.example
apps/application/android
apps/application/ios
*.log
*.tsbuildinfo
