.git
.github
.artifacts
.secrets
**/.secrets
**/google-services.json
.turbo
.telemetry
**/.tmp
node_modules
**/node_modules
**/.next
**/.next-*
**/out
**/release-artifacts
**/test-results
**/playwright-report
**/dist
**/.env
**/.env.*
!**/.env.example
apps/application/android
apps/application/ios
*.log
*.tsbuildinfo
