@font-face {
  font-family: "IRANSansX";
  src:
    url("../fonts/IRANSansXV.woff2") format("woff2-variations"),
    url("../fonts/IRANSansXV.woff2") format("woff2");
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
  font-variation-settings: "DOTS" 7;
}

@theme inline {
  --font-sans: "IRANSansX", Tahoma, ui-sans-serif, system-ui, sans-serif;
}

:root {
  --font-sans: "IRANSansX", Tahoma, ui-sans-serif, system-ui, sans-serif;
}

html {
  font-variation-settings: "DOTS" 7;
}
